// Good Sass: Using mixins and functions for maintainability and reusability

@mixin button-style($color, $size: 16px) {
  padding: 10px 20px;
  font-size: $size;
  background-color: $color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($color, 10%);
  }
}

@function rem($px) {
  @return $px / 16 + rem;
}


.good-button {
  @include button-style(blue);
}

.good-button-large {
  @include button-style(green, 24px);
}

.good-button-custom {
  @include button-style(#f00, rem(20));
}


// Bad Sass: Repetitive code and lack of organization

.bad-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: red;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken(red, 10%);
  }
}

.bad-button-blue {
  padding: 10px 20px;
  font-size: 16px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken(blue, 10%);
  }
}

.bad-button-green {
  padding: 10px 20px;
  font-size: 24px;
  background-color: green;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken(green, 10%);
  }
}
