// Good Sass: Using modules and mixins for maintainability and reusability

@use "functions" as *; // Import custom functions module

@mixin button-style($color, $size) {
  background-color: $color;
  padding: rem-calc($size); // Using a custom function for rem calculation
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}


.button {
  @include button-style(blue, 16px);
}


.button--large {
  @include button-style(green, 24px);
}


// Bad Sass: Lack of organization and reusability

.button {
  background-color: blue;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button--large {
  background-color: green;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


// functions.scss (Example of a functions module)

@function rem-calc($px) {
  @return $px / 16 + rem;
}

