// Good Sass: Using mixins for reusable styles and modularity

@mixin button-style($color, $background-color) {
  color: $color;
  background-color: $background-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($background-color, 10%);
  }
}

.primary-button {
  @include button-style(white, #3498db);
}

.secondary-button {
  @include button-style(black, #f39c12);
}


// Bad Sass:  Repetitive code and lack of modularity

.primary-button {
  color: white;
  background-color: #3498db;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#3498db, 10%);
  }
}

.secondary-button {
  color: black;
  background-color: #f39c12;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#f39c12, 10%);
  }
}
